<html>
<head>
    <title>Forgot Username Request</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div>&nbsp;</div>
    <div class="panel panel-success col-md-8">
        <div>&nbsp;</div>
        <div class="panel panel-heading">
            <div class="panel-title">
                A username recovery request has been made.
            </div>
        </div>
        <div class="panel panel-body">
            <div>
                <p>Hi @TempData["firstName"]</p>
                <p>
                    If you did not request to recover your username, please ignore this email.
                </p>
            </div>
            <div>
                <p>
                    Your current username is @TempData["userName"]
                </p>
            </div>
            <div>&nbsp;</div>
            <div>
                Thank you!
            </div>
        </div>
    </div>
</body>
</html>
