@{
    ViewBag.Title = "We could not find your account!";
}

<h1>@ViewBag.Title</h1>

<p class="margin-btm-25">Based on the information provided we were not able to locate your account. </p>

<div class="subcontainer-inner-wrapper user-found-msg">

    <p>
        To resolve this issue, please <a href="http://www.okta.org/About/Contact/Pages/Contact.aspx">contact us</a>.
    </p>
</div>
