<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Temp\oktaLoginWidge.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Okta Config-->
    <!--<add key="okta.apiUrl" value="https://aclarkeimport.oktapreview.com" />-->
    <!--<add key="okta.apiToken" value="00m41jCQPnIWYfgblgtfXlJ4Uw3TC9fhiGBQSv2kyD" />-->
    <!--<add key="okta.widgetVersion" value="2.21.0" />-->

    <add key="okta.apiUrl" value="https://aclarke-neto.oktapreview.com" />
    <add key="okta.apiToken" value="002atorvCJhgMZtMfkonU7gVsdWuD1cKmQ4q9ZfUtM" />
    <add key="okta.widgetVersion" value="3.8.0" />
    
    <!--Okta Config-->
    <!--<add key="okta.apiUrl" value="https://aclarke.oktapreview.com" />
    <add key="okta.apiToken" value="003r9eCkOvTHoSZb-t5T8z6g0B685iiK3RwD91OtF8" />
    <add key="okta.widgetVersion" value="3.8.0" />-->

    <!--Okta Config-->
    <!--<add key="okta.apiUrl" value="https://dev-847814.okta.com" />
    <add key="okta.apiToken" value="003r9eCkOvTHoSZb-t5T8z6g0B685iiK3RwD91OtF8" />
    <add key="okta.widgetVersion" value="3.8.0" />-->
    
    
    
    <!--use OIDC_Consent -->
    <!--<add key="oidc.spintweb.clientId" value="0oamshfnk3ykAbN1E0h7" />
    <add key="oidc.spintweb.clientSecret" value="xdP4sXXI8HufaJuNJzUA0ctQ1x63OiCT2i0VKKxc" />
    <add key="oidc.spintweb.redirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint" />-->
    <!--<add key="oidc.spintweb.redirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />-->
    <!--<add key="oidc.authServer" value="https://aclarke.oktapreview.com/oauth2/ausjnvl994i9Ov97X0h7" />
    <add key="oidc.issuer" value="https://aclarke.oktapreview.com/oauth2/ausjnvl994i9Ov97X0h7" />
    <add key="app.appCode" value="TST" />-->

    <!--use OIDC_Web aclarke-NETO.oktapreview -->
    <add key="oidc.spintweb.clientId" value="0oaqhh0mu5Er1dgoc0h7" />
    <add key="oidc.spintweb.clientSecret" value="XbLC6dRdHNgoH-CEyCNMvkxBAzyY-CxgcvKsPSwC" />
    <add key="oidc.spintweb.redirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint" />
    <!--<add key="oidc.spintweb.redirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />-->
    <add key="oidc.authServer" value="https://aclarke-neto.oktapreview.com/oauth2/aus90h4gyj2Hc8QOy0h7" />
    <add key="oidc.issuer" value="https://aclarke-neto.oktapreview.com/oauth2/aus90h4gyj2Hc8QOy0h7" />
    <add key="app.appCode" value="TST" />
    
    <!--use OIDC_Web aclarke.oktapreview -->
    <!--<add key="oidc.spintweb.clientId" value="0oajntrgevIFrOH4l0h7" />
    <add key="oidc.spintweb.clientSecret" value="Wc3XI3nAETRHU14Ho_LLCCyiKi9s8XZnyep0RBoC" />
    <add key="oidc.spintweb.redirectUri" value="http://localhost:50664/Oidc/ValidationEndpoint" />
    --><!--<add key="oidc.spintweb.redirectUri" value="https://aclarke.ngrok.io/Oidc/ValidationEndpoint" />--><!--
    <add key="oidc.authServer" value="https://aclarke.oktapreview.com/oauth2/ausjnvl994i9Ov97X0h7" />
    <add key="oidc.issuer" value="https://aclarke.oktapreview.com/oauth2/ausjnvl994i9Ov97X0h7" />
    <add key="app.appCode" value="TST" />-->

    <add key="custom.helpUrl" value="/Home/Help" />
    <add key="custom.landingPage" value="http://localhost:59927/Portal/Landing" />
    <add key="custom.selfServeLinkExpiry" value="59" />
    <add key="custom.SelfServeExpire_hours" value="72" />
    <add key="custom.ActivationExpire_hours" value="72" />
    <add key="custom.PasswordComplexity_01" value="Passwords must be at least 8 charactoers long and Contain charactors from three of the following four categories:" />
    <add key="custom.PasswordComplexity_02" value="Uppercase Characters of European languages ( A through Z)," />
    <add key="custom.PasswordComplexity_03" value="Lowercase Characters of European languages (a through z)" />
    <add key="custom.PasswordComplexity_04" value="Base 10 digits ( 0 through 9), Non-alphanumeric Characters" />

    <!-- Email Config -->
    <add key="FromEmailAddress" value="andy@beach.local" />
    <add key="FromEmailDisplayName" value="Help Desk" />
    <add key="FromEmailPassword" value="password" />
    <add key="SMTPHost" value="192.168.200.132" />
    <add key="SMTPPort" value="25" />
    <add key="EmailSSLEnable" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>